{% extends 'base.html' %}  
{% block content %}

 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Tentang Kami..</h1>
            <p class="lead fw-normal text-white-50 mb-0">Selamat Datang di Krebbs Dodolan!!</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                
              <br/><br/>  
<p align="justify">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula dolor at nulla gravida tempus. Nunc ultricies nulla turpis. Sed quis eros non sapien tristique luctus et mollis leo. Donec scelerisque turpis sit amet rutrum sagittis. Cras eget hendrerit ligula. Nunc eleifend ligula nec augue commodo, id dignissim metus blandit. Praesent euismod purus non tortor luctus, quis tempor libero gravida.
<br/><br/>
Etiam congue nisl vitae efficitur iaculis. Nulla imperdiet, ipsum non cursus aliquet, magna purus posuere nibh, vel suscipit ante neque a sapien. Proin sagittis egestas nisi, eget mollis augue fermentum a. Vestibulum ultricies augue dui, in egestas lorem iaculis id. Nam egestas, enim vitae bibendum posuere, metus dolor feugiat ante, at feugiat tortor erat ac nisi. Ut tristique ex in eros iaculis, posuere viverra elit sagittis. In eget tempor ex. Donec eget sapien non sem finibus lacinia. Aenean eu congue leo, porttitor dapibus dolor. Aliquam erat volutpat.
<br/><br/>
In posuere malesuada massa, ac fringilla velit interdum scelerisque. Aliquam sed rutrum turpis. Nulla sit amet ligula interdum, pellentesque nisl at, vehicula nibh. Donec laoreet leo eget porttitor hendrerit. Curabitur et vestibulum enim. Cras nec lectus ultricies, egestas justo eu, malesuada metus. Vivamus at elit eu ipsum placerat tempor a quis augue. Mauris quis cursus nisi, in venenatis ex. Proin sagittis viverra est at bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
<br/><br/>  
        </div>
        </center>
    </div>
</div>

{% endblock %}